.ion-item-s1{
    font-size: 14px; 
    border-radius: 6px;
    box-shadow: 1px 1px 4px 1px rgba(0 ,0 ,0, 47%);
    width: 45%;   
    height: 26px; 
    float: left;
    margin: 1% 2%;
}

.ion-item-s2{
    font-size: 14px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 1px rgba(0 ,0 ,0, 47%);
    width: 45%;   
    height: 26px;
    float: right;
    margin: 1% 2%;
}
.ion-item-input{
    height: 26px;
    width: 80%;
    box-shadow: 1px 1px 4px 1px rgba(0 ,0 ,0, 47%);
    margin: 1% 2%;
    float: left;
    border-radius: 6px;
}
.ion-item-date{
    height: 30px;
    width: 96%;
    box-shadow: 1px 1px 4px 1px rgba(0 ,0 ,0, 47%);
    margin: 1% 2%;
    float: left;
    border-radius: 6px;
}
.ion-label-l{
    color: lightgreen;
}

ion-select::part(icon) {
    color: #333031;
    float: right;
    bottom: 6px;    
    opacity: 1;
  }
  ion-select::part(placeholder) {
      height: 25px;
  }
  
  ion-select::part(text) {
    height: 25px;
}
ion-input{
    height: 25px;
    --padding-top: 0px;
    text-align: center;
}
.ion-icon-i{
    width: 20px;
    height: 20px;
}
  
  ion-item::part(native) {
    background: #fbfbfb;    
    height: 30px;
    --min-height: 4px;
}
  .ion-select-s{
      width: 100%;
  }
  
.ion-col-c{ 
    margin-top: 2%;   
    height: 130px;
    width:80px !important;
    flex: 0 0 calc(calc(5 / var(--ion-grid-columns, 24)) * 100%) !important;
    max-width:120px !important;
    margin-left: 4%;
    padding: 0px;
    border-radius: 5px;
    background-color: #22bd5d;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ion-col-t{
    height: 20px;
    background-color: #ffffff73;
    color: #fff;
    text-align: center;
    font-size: 10px;
}
.ion-col-b{
    height: 20px;
    background-color: #ffffff73;
    color: #fff;
    text-align: center;
    font-size: 10px;
}
.ion-row-r{
    padding: 4%;
}
.ion-button-b{
    width: 15%;
    height: 28px;
    --border-radius: 4px;
    --background: rgba(4, 87, 165, 0.726);
}
.ion-icon-i1{
    margin-right: 10px;
}
.ion-icon-i2{
    margin-left: 10px;
}
