<ion-header [translucent]="true" class="ion-header-h">
  <ion-toolbar>
    <ion-icon name="scan-outline" class="ion-icon-i"></ion-icon>
    <ion-segment [(ngModel)]="tab" color="success">
      <ion-segment-button 
      *ngFor="let item of segmentList" 
      [class.active]="Id==item.id" 
      [value]="item.value"
      (click)="segmentClick(item.id)"
      >
        <ion-label>{{item.title}}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="info" [ngSwitch]="tab">
    <ion-header collapse="condense" *ngIf="Id!=1 && Id!=3">
      <ion-toolbar>
        <ion-item class="ion-item-s1">
          <ion-select class="ion-select-s" interface="popover" placeholder="全部车间">
            <ion-select-option value="车间1">车间1</ion-select-option>
            <ion-select-option value="车间2">车间2</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item class="ion-item-s2">
          <ion-select class="ion-select-s" interface="popover" placeholder="全部产线">
            <ion-select-option value="产线1">产线1</ion-select-option>
            <ion-select-option value="产线2">产线2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-toolbar>
    </ion-header>
    <div *ngSwitchCase="'tab1'">      
      <ion-row class="ion-row-r">
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
        <ion-col size="2" class="ion-col-c">
          <p class="ion-col-t">001</p>
          <div echarts [options]="option1" style="width:100%;height:90px;"></div>
          <p class="ion-col-b">001</p>
        </ion-col>
      </ion-row>
    </div>
    <div *ngSwitchCase="'tab2'">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-item class="ion-item-s1">
            <ion-select class="ion-select-s" interface="popover" placeholder="车间">
              <ion-select-option value="车间1">车间1</ion-select-option>
              <ion-select-option value="车间2">车间2</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item class="ion-item-s2">
            <ion-input placeholder="班次"></ion-input>
          </ion-item>
          <ion-item class="ion-item-date">
            <div style="margin: 0 auto;font-size: 14px;">
              <ion-icon name="caret-back-outline" class="ion-icon-i1"></ion-icon>
              {{startTime}} - {{endTime}}
              <ion-icon name="caret-forward-outline" class="ion-icon-i2"></ion-icon>
            </div>
          </ion-item>
        </ion-toolbar>
      </ion-header>
      <div echarts [options]="option2" style="width:100%;"></div>
    </div>
    <div *ngSwitchCase="'tab3'">
      评论
    </div>
    <div *ngSwitchCase="'tab4'">
      <ion-header collapse="condense">
        <ion-toolbar>
          <ion-item class="ion-item-input">
            <ion-input clearInput="true"  placeholder="工单、订单、品名、规格、料号等"></ion-input>
          </ion-item>
          <ion-button class="ion-button-b">更多</ion-button>
        </ion-toolbar>
      </ion-header>
    </div>
  </div>
</ion-content>